@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900 text-white;
}

button,
button[type="submit"] {
  @apply bg-slate-800
  rounded-lg
  border
  border-transparent
  px-4
  transition-colors
  outline-offset-2
  py-2;
}

input {
  @apply border
  border-slate-800
  rounded-lg
  px-4
  py-2;
}

input:hover {
  @apply border-blue-900
  transition-colors;
}

button:hover {
  @apply bg-blue-900;
}

button:focus {
  @apply outline
  outline-2
  outline-white;
}

button:disabled {
  @apply opacity-50
  cursor-not-allowed;
}
