@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-white;
}

button {
  @apply bg-slate-900
  rounded-lg
  border
  border-transparent
  px-4
  py-2
  hover:border-blue-600
  focus:outline
  focus:outline-2
  disabled:opacity-50
  disabled:cursor-not-allowed
  focus:outline-white;
}
