@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-white;
}

button {
  @apply bg-slate-900
  rounded-lg
  border
  border-transparent
  px-4
  py-2;
}

button:hover {
  @apply bg-blue-600;
}

button:focus {
  @apply outline
  outline-2
  outline-white;
}

button:disabled {
  @apply opacity-50
  cursor-not-allowed;
}
